*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.white{
    color: white;
}

.dark-blue{
    color: #122A57;
}



/*Container Principal*/
.flex-container{
    display: flex;
    width: 100%;
    max-width: 1302px;
    
    margin: auto;
}

/* Cabecalho*/
header{
    height: 100px;
    background-color: #122A57;
    line-height: 100px;
}

h1 span{
    font-size: 30px;
}

ul li a{
    text-decoration: none;
   
}

ul li a:hover{
    color: rgb(255, 115, 0);
}

.list-items{
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 260px;
    width: 100%;
}

.cabec{
    display: flex;
    justify-content: space-between;
    border: none;
    
}

/*Primeiro Container */
.primeiro{
   display: flex;
   justify-content: space-between;
   padding-top: 80px;
   border: none;
}

.button{
    border: 1px solid black;
    border-radius: 20px;
   padding: 8px 20px  ;
    font-size: 20px;
    text-decoration: none;
    background-color: #122A57;
}

.button:hover{
    background-color: rgb(255, 115, 0);
}

.propaganda{
 padding: 80px;
}

.item-propag{
    font-size: 60px;
}

/* Segundo Container */

.segundo{
    border: none;
    padding: 60px;

}


h2{
    font-size: 40px;
    border-left: solid #122A57 7px;
    padding-left: 7px;
}

/* Terceiro Container */

.flex-container-terceiro{
    background-color: #122A57;
    height: 500px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.flex-servicos{
    display: flex;
    justify-content: space-evenly;
    max-width: 1302px;
    width: 100%;
    margin: auto;
}

.works{
    color: white;
    padding-top: 15px;
    
}

.work-items{
    display: flex;
    flex-direction: column;
    align-items: center;
  

}

.work-items p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    
}

.work-items div img{
    width: 200px;
    height: 200px;
}
.work-items a{
    border: 1px solid black;
    padding: 10px 20px ;
    border-radius: 10px;
    background: white;
    list-style: none;
    text-decoration: none;
    color: #122A57;
    font-weight: bold;
    font-size: 15px;
    width: 150px;
    text-align: center;

}

.work-items a:hover{
    background-color: rgb(255, 115, 0);
    color: white;
    transition: 0.25s;
}

/* QUARTO CONTAINER */
.quarto{
    display: flex;
    align-items: flex-end;
    height: 500px;
    justify-content: space-evenly;
}

.item-plans{
    border: 5px solid #122A57;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px;
}

.item-plans div{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.item-plans h3{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 4px solid #122A57;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
}

.item-plans ul li{
    font-size: 17px;
    list-style: none;
    text-align: justify;
    padding-bottom: 15px; 
    
}

.title-plans h3{
    text-align: center;
    font-size: 40px;
    max-width: 1302px;
    width: 100%;
    margin: auto;
    padding-top: 30px;

}

footer{
    background-color: #122A57;
    color: white;
    text-align: center;
    height: 150px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

